*{
    margin: 0;
    padding: 0;
}

#preloader{
    background: #efefef;
    
}

#preloader .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader .container > div{
    position: relative;
    width: 40px;
    height: 200px;
    margin-left: 30px;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid #efefef;
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.5),
                inset -2px -3px 5px #fff,
                2px 3px 5px rgba(0, 0, 0, 0.5),
                -1px 0 2px rgba(0, 0, 0, 0.1);
}

#preloader .container > div:nth-child(1){
    margin-left: 0;
}

#preloader .container > div::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: linear-gradient(to bottom, #ffffffe3 0%, rgba(0, 0, 0, 0.05) 100%);
    box-shadow: inset 1px 0px 2px rgba(0, 0, 0, 0.5);
}

#preloader .container > div::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset -3px -4px 5px rgba(0, 0, 0, 0.8),
                0 425px 0 400px rgb(19, 125, 187);
    animation: animate 2.5s ease-in-out infinite;
    transform: translateY(160px);
    animation-delay: calc(-0.5s * var(--i));
}

@keyframes animate{
    0%{
        transform: translateY(160px);
        filter: hue-rotate(180deg);
    }

    50%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(160px);
        filter: hue-rotate(0deg);
    }
}

@media (max-width: 360px){
    #preloader .container > div{
        width: 25px;
        border-radius: 25px;
    }

    #preloader .container > div::after{
        border-radius: 25px;
    }

    #preloader .container > div::before{
        width: 23px;
        height: 23px;
        box-shadow: 0 415px 0 400px rgb(19, 125, 187);
    }

}